include LICENSE
include README.md
include requirements.txt
recursive-include codex_arch *
recursive-include codex_arch/extractors *
recursive-include codex_arch/visualization *
recursive-include codex_arch/utils * 